.glyphicon-eye-open{
	margin-top: 33px;
    margin-left: -49px;
}
.error{
    font-weight: bold;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:red
}
form{
    padding:10px;
    border: 2px solid rgb(3, 3, 3);
}